In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tt = pd.read_excel(r"C:\Users\Priya\Downloads\titanic3.xls")

In [3]:
tt.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
tt = tt.drop(['name','ticket','cabin','home.dest','body'], axis = 1)

In [5]:
tt.head()

   pclass  survived     sex      age  sibsp  parch      fare embarked boat
0       1         1  female  29.0000      0      0  211.3375        S    2
1       1         1    male   0.9167      1      2  151.5500        S   11
2       1         0  female   2.0000      1      2  151.5500        S  NaN
3       1         0    male  30.0000      1      2  151.5500        S  NaN
4       1         0  female  25.0000      1      2  151.5500        S  NaN

In [6]:
tt.isnull().sum()[tt.isnull().sum() > 0]

age         263
fare          1
embarked      2
boat        823
dtype: int64

In [7]:
tt.age.fillna(tt.age.mean(), inplace = True)
tt.fare.fillna(tt.fare.mean(), inplace = True)
tt.boat.fillna('0', inplace = True)

In [8]:
tt = tt.dropna()

In [9]:
tt.sex.replace({'female': 1, 'male': 0}, inplace = True)

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
tt.boat = tt.boat.astype(str)

In [12]:
tt.embarked = le.fit_transform(tt.embarked)
tt.boat = le.fit_transform(tt.boat)

In [13]:
tt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1307 entries, 0 to 1308
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1307 non-null   int64
 1   survived  1307 non-null   int64
 2   sex       1307 non-null   int64
 3   age       1307 non-null   float64
 4   sibsp     1307 non-null   int64
 5   parch     1307 non-null   int64
 6   fare      1307 non-null   float64
 7   embarked  1307 non-null   int32
 8   boat      1307 non-null   int32
dtypes: float64(2), int32(2), int64(5)
memory usage: 91.9 KB

In [14]:
tt.select_dtypes(include = 'object').columns

Index([], dtype='object')

In [15]:
from sklearn.model_selection import train_test_split

tt_train, tt_test = train_test_split(tt, test_size = .2)

In [16]:
tt_train_x = tt_train.drop(['survived'], axis = 1)
tt_train_y = tt_train.survived

tt_test_x = tt_test.drop(['survived'], axis = 1)
tt_test_y = tt_test.survived

In [17]:
from sklearn.linear_model import LogisticRegression
log_tt = LogisticRegression()

In [20]:
log_tt.fit(tt_train_x, tt_train_y)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [18]:
tt_train_x = tt_train_x.values
tt_test_x = tt_test_x.values
tt_train_y = tt_train_y.values

In [22]:
pred_test_tt = log_tt.predict(tt_test_x)

In [23]:
from sklearn.metrics import confusion_matrix, recall_score, precision_score, f1_score, accuracy_score, classification_report
tab_tt = confusion_matrix(tt_test_y, pred_test_tt)
tab_tt

array([[163,   1],
       [ 11,  87]], dtype=int64)

In [55]:
recall_score(tt_test_y, pred_test_tt)

0.9017857142857143

In [56]:
accuracy_score(tt_test_y, pred_test_tt)

0.9465648854961832

In [24]:
print(classification_report(tt_test_y, pred_test_tt))

              precision    recall  f1-score   support

           0       0.94      0.99      0.96       164
           1       0.99      0.89      0.94        98

    accuracy                           0.95       262
   macro avg       0.96      0.94      0.95       262
weighted avg       0.96      0.95      0.95       262

In [25]:
import pickle
pickle.dump(log_tt,open('model1.pkl','wb'))

In [84]:
tt.head()

   pclass  survived  sex      age  sibsp  parch      fare  embarked  boat
0       1         1    1  29.0000      0      0  211.3375         2    12
1       1         1    0   0.9167      1      2  151.5500         2     3
2       1         0    1   2.0000      1      2  151.5500         2     0
3       1         0    0  30.0000      1      2  151.5500         2     0
4       1         0    1  25.0000      1      2  151.5500         2     0

In [27]:
tt.boat.value_counts()

0     823
5      39
25     38
9      37
8      33
14     31
2      29
15     27
13     26
22     25
3      25
11     23
20     23
19     23
27     20
4      19
18     18
12     13
23     11
24      9
1       5
16      2
26      2
6       2
17      1
21      1
7       1
10      1
Name: boat, dtype: int64

In [26]:
type(tt_train_x)

numpy.ndarray

In [27]:
type(tt_test_x)

numpy.ndarray